:root {
    
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: #FFFFFF;

    background-image: url("images/table.png");
}

h1 {
    color: goldenrod;
    font-size: 100px;

    padding: 30px;
    margin-bottom: 0;

    border-radius: 40px;
    background-color: #2E2E2E;
}

#message-el {
    font-size: 60px;
}

#text-cards {
    margin: 0 0 20px;;
}

.cards-container-top {
    padding: 20px;
}

.cards-container-bottom {
    padding: 20px;
}

.card {
    margin: 10px 10px;
    width: 250px;
    box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.9);
}

#card1 {
    visibility: hidden;
    z-index: -1;
}

#card2 {
    visibility: hidden;
    z-index: -1;
}

#card3 {
    visibility: hidden;
    z-index: -1;
}

#card4 {
    visibility: hidden;
    z-index: -1;
}

#card5 {
    visibility: hidden;
    z-index: -1;
}

button {
    position: absolute;
    top: 80%;
    font-size: 40px;
    border-radius: 10px;
    padding: 20px;
    min-width: 250px;
    color: white;
    background: #2E2E2E;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#sum {
    position: absolute;
    top: 85%;
    padding: 30px;

    border-radius: 40px;
    background-color: #2E2E2E;
}