:root {
    
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: #FFFFFF;

    background-image: url("images/table.png");
}

h1 {
    color: goldenrod;
    font-size: 100px;

    padding: 30px;
    margin-bottom: 0;

    border-radius: 40px;
    background-color: #2E2E2E;
}

#message-el {
    font-size: 60px;
}

#text-cards {
    margin: 0 0 20px;;
}

#all-cards-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#house-cards-container {

}

#user-cards-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 20px;
    margin-left: auto;
}

.card {
    width: 250px;
    box-shadow: 10px 10px 10px -3px rgba(0, 0, 0, 0.9);
    margin-right: -135px;
}

#card1 {
    /* visibility: hidden; */
    z-index: 1;
}

#card2 {
    /* visibility: hidden; */
    z-index: 2;
}

#card3 {
    /* visibility: hidden; */
    z-index: 3;
}

#card4 {
    /* visibility: hidden; */
    z-index: 4;
}

#card5 {
    /* visibility: hidden; */
    z-index: 5;
}

#buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

button {
    position: absolute;
    top: 80%;
    font-size: 40px;
    border-radius: 10px;
    margin: 0 20px;
    padding: 20px;
    min-width: 250px;
    color: white;
    background: #2E2E2E;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#sum {
    position: absolute;
    top: 85%;
    padding: 30px;

    border-radius: 40px;
    background-color: #2E2E2E;
}